<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='logo.svg')}}" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <title>{% block title %}{% endblock %}</title>
</head>
<body class="text-zinc-900 font-quicksand bg-zinc-50">

    <div id="messages-section" class="absolute hidden"></div>
    
    {% block additional %}
    {% endblock %}


    <section id="menu-section" class="absolute hidden">
        <div class="w-screen h-screen fixed z-50 backdrop-blur-sm">
          <div id="menu" class="border-r rounded-r-xl max-w-xs w-3/5 h-full shadow-xl bg-zinc-50 overflow-hidden absolute left-[-300px]">
  
            <!-- section 1 -->
            <div class="flex justify-between items-center px-6 py-4">
              <button class="flex gap-2 items-center text-zinc-500 font-bold">
                <img src="{{ url_for('static', filename='logo.svg') }}" class="w-8" alt="">
                  
                  
                  
                <p>Anime review</p>
              </button>
  
             
              <button id="hide-menu-btn" class="rounded-full bg-zinc-100 p-2 hover:bg-zinc-200 transition duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
  
            <!-- section 2 -->
            <div class="px-2">
  
              <div class="py-4 w-full font-bold text-sm">
                
                <a href="/" class="group">
                  <div class="rounded-lg p-2 px-4 grid grid-cols-5 items-center group-hover:bg-zinc-100">
                    
                    <span class="material-symbols-outlined">
                      home
                    </span>                
                    
                    <p class="col-span-4">Home</p>
                  </div>
                  
                </a>

                {% if session %}
                
                <a href="/user_review" class="group">
                  <div class="rounded-lg p-2 px-4 grid grid-cols-5 items-center group-hover:bg-zinc-100">
                    <span class="material-symbols-outlined">
                      drive_file_rename_outline
                    </span>
                    
                    <p class="col-span-4">My Reviews</p>
                    
                  </div>
                </a>
  
  
                <a href="/profile" class="group">
                  <div class="rounded-lg p-2 px-4 grid grid-cols-5 items-center group-hover:bg-zinc-100">
                    <span class="material-symbols-outlined">
                      person
                    </span>
                    
                    <p class="col-span-4">Profile</p>
                  </div>
                </a>

                {% endif %}                

                
              </div>


              {% if session %}
              
              <a href="/logout" class="group absolute bottom-0 py-4">
                <div class="rounded-lg p-2 px-4 flex gap-2 items-center group-hover:bg-zinc-100">
                  <span class="material-symbols-outlined group-hover:scale-[1.03] transition duration-100 ease-in-out">
                    logout
                  </span>
  
                  <p class="col-span-4 text-sm font-semibold">Logout</p>
                </div>
  
              </a>

              {% else %}

              <a href="/login" class="group absolute bottom-0 py-4">
                <div class="rounded-lg p-2 px-4 flex gap-2 items-center group-hover:bg-zinc-100">
                  <span class="material-symbols-outlined group-hover:scale-[1.03] transition duration-100 ease-in-out">
                    login
                  </span>
  
                  <p class="col-span-4 text-sm font-semibold">Login | Register</p>
                </div>
  
              </a>

              {% endif %}
            </div>
            
          </div>
        </div>
    </section> 

    <section id="search-section" class="absolute hidden">

        <div class="w-screen h-screen fixed bottom-0 z-50 backdrop-blur-sm p-4">
          <div id="search-bar" class="relative border max-w-md mx-auto lg:max-w-2xl top-[-60px] rounded-lg p-2 pr-3 bg-zinc-50 grid grid-cols-12 content-center items-center">

            <div class="flex justify-center items-center text-zinc-600">
              <span class="material-symbols-rounded">
                search
              </span>
            </div>

            <input type="text" placeholder="Search" name="search" id="search" autocomplete="off" class="p-1 bg-zinc-50 w-full font-medium outline-none col-span-10">
            
            <div class="flex justify-center items-center text-zinc-600">
              <button id="close-search" class="rounded-full bg-zinc-100 p-2 hover:bg-zinc-200 transition duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>

          <div id="result-section" class="py-4 max-w-md mx-auto lg:max-w-2xl hidden">
            <div id="search-result" class="max-h-96 rounded-t-lg bg-zinc-50 overflow-y-scroll scroll-smooth scrollbar-hide relative border p-2 grid grid-cols-3">
            </div>

            <div class="border-x border-b bg-zinc-100 py-2 px-4 text-xs font-bold rounded-b-lg text-zinc-400 w-full">
              Found {{ show | length }}
            </div>
          </div>
        
        </div>



    </section>

    <header class="flex justify-between items-center px-4 sticky top-0 shadow-md bg-zinc-50">
        <div class="lg:hidden">
          <button id="menu-btn" class="material-symbols-rounded rounded-full w-10 h-10 flex justify-center items-center hover:bg-zinc-200">
            menu
          </button>
        </div>

        <div class="flex items-center gap-2">
          <a href="/" class="lg:flex items-center justify-center gap-2">
            <img src="{{ url_for('static', filename='logo.svg') }}" class="w-8 lg:w-12 py-2"/>
            <p class="font-semibold text-xl text-zinc-400 hidden lg:flex px-2">Anime review</p>
          </a>
  
          <div class="font-semibold lg:flex gap-6 p-4 hidden text-sm">
            {% if session %}
            <a class="hover:opacity-50 transition duration-300" href="/">Home</a>
            <a class="hover:opacity-50 transition duration-300" href="/user_review">My reviews</a>
            <a class="hover:opacity-50 transition duration-300" href="/profile">Profile</a>
            <a class="hover:opacity-50 transition duration-300" href="/logout">Logout</a>
            {% else %}
            <a class="hover:opacity-50 transition duration-300" href="/login">register</a>
            <a class="hover:opacity-50 transition duration-300" href="/login">login</a>
            {% endif %}
          </div>
        </div>

        <div class="flex justify-between items-center gap-2">
          <button id="search-btn" class="material-symbols-rounded rounded-full w-11 h-11 hover:bg-zinc-200 ">
            search
          </button>
        </div>
    </header>

    {% block body %}{% endblock %}

    <footer class="lg:max-w-6xl max-w-xl mx-auto">
      <div class="border-t p-4 lg:grid lg:grid-rows-2">
        <div class="font-semibold p-2.5">
          Explore a collection of anime and share your thoughts among other anime fans.
        </div>

        <div class="m-2.5 pb-4 text-sm text-zinc-400 font-bold grid grid-cols-2 gap-2 border-b lg:border-none">
          <a href="https://github.com/Mami-Em/legend-review" target="_blank" rel="noopener noreferrer" class="flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-3 h-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
            </svg>
            
            Github</a>
        </div>

        <div class="text-xs text-zinc-400 font-semibold p-2.5">
          <p>© 2022 Anime review by <span class="font-bold" style="color: rgb(99 102 241);">
            <a href="">Mami</a>
          </span></p>
        </div>
      </div>
    </footer>

    {% block link %}{% endblock %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
</body>
</html>