<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='Vector.svg') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Anime review</title>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'Success' %}
          <div id="message" class="bg-indigo-600 sticky top-0 z-50 invisible">
            <div class="mx-auto max-w-7xl py-3 px-3 sm:px-6 lg:px-8">
              <div class="flex flex-wrap items-center justify-between">
                <div class="flex w-0 flex-1 items-center">
                  <span class="flex rounded-lg bg-indigo-800 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                      
                  </span>
                  <p class="ml-3 truncate tracking-wide font-medium text-white">
                    <span class="md:hidden">{{ category }}</span>
                    <span class="hidden md:inline">{{ message }}</span>
                  </p>
                </div>
                <div class="order-3 mt-2 w-full flex-shrink-0 sm:order-2 sm:mt-0 sm:w-auto">
                  <a href="#" class="flex items-center justify-center rounded-md border border-transparent bg-white px-4 py-2 text-sm font-medium text-indigo-600 shadow-sm hover:bg-indigo-50">Refresh<span class="md:hidden pl-1"> to see update</span></a>
                </div>
                <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                  <button type="button" class="-mr-1 flex rounded-md p-2 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2">
                    <span class="sr-only">Dismiss</span>
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% else %}

          <div id="message" class="bg-red-600 sticky top-0 z-50 invisible">
            <div class="mx-auto max-w-7xl py-3 px-3 sm:px-6 lg:px-8">
              <div class="flex flex-wrap items-center justify-between">
                <div class="flex w-0 flex-1 items-center">
                  <span class="flex rounded-lg bg-red-800 p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                    </svg>
                      
                  </span>
                  <p class="ml-3 truncate tracking-wide font-medium text-white">
                    <span class="md:hidden">{{ category }}</span>
                    <span class="hidden md:inline">{{ message }}</span>
                  </p>
                </div>
                <div class="order-3 mt-2 w-full flex-shrink-0 sm:order-2 sm:mt-0 sm:w-auto">
                  <a href="#" class="flex items-center justify-center rounded-md border border-transparent bg-white px-4 py-2 text-sm font-medium text-red-600 shadow-sm hover:bg-red-50">Refresh<span class="md:hidden pl-1"> to see update</span></a>
                </div>
                <div class="order-2 flex-shrink-0 sm:order-3 sm:ml-3">
                  <button type="button" class="-mr-1 flex rounded-md p-2 hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2">
                    <span class="sr-only">Dismiss</span>
                    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    

    <header class="isolate bg-white">
    
        <div class="px-6 pt-6 lg:px-8">
          <div>
            <nav class="flex h-9 items-center justify-between" aria-label="Global">
              <div class="flex lg:min-w-0 lg:flex-1" aria-label="Global">
                <a href="/" class="-m-1.5 p-1.5">
                  <span class="sr-only">Your Company</span>
                  <img class="h-8" src="{{ url_for('static', filename='Vector.svg') }}" alt="">
                </a>
              </div>
              <div class="flex gap-2 lg:hidden">
                <button type="button" id="open-mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                  <span class="sr-only">Open main menu</span>
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                </button>
              </div>
              <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-center lg:gap-x-12">
                <a href="/" class="font-semibold text-gray-900 hover:text-gray-400">Home</a>

                <a href="/about" class="font-semibold text-gray-900 hover:text-gray-400">About</a>
                
                {% if session %}
                <a href="/profile" class="font-semibold text-gray-900 hover:text-gray-400">Profile</a>
                {% else %}
                <p class="font-semibold text-gray-900 line-through">Profile</p>
                {% endif %}
                
                <p onclick="toggleSearchSection()" class="font-semibold text-gray-900 hover:text-gray-900 hover:cursor-pointer">Search</p>
    
              </div>
              <!-- SEARCH BTN -->
              <div class="hidden lg:flex lg:min-w-0 lg:flex-1 lg:justify-end">
                {% if session %}
                <a href="/logout" class="inline-block rounded-lg px-3 py-1.5 text-sm font-semibold leading-6 text-indigo-500 shadow-sm ring-1 ring-indigo-500/10 hover:ring-indigo-500/20">Log out</a>
                {% else %}
                <a href="/login" class="inline-block rounded-lg px-3 py-1.5 text-sm font-semibold leading-6 text-indigo-500 shadow-sm ring-1 ring-indigo-500/10 hover:ring-indigo-500/20">Log in</a>
                {% endif %}
              </div>
            </nav>
            <!-- Mobile menu, show/hide. -->
            <div role="dialog" aria-modal="true">
              <div id="menu-hs" focus="true" class="fixed inset-0 z-10 overflow-y-auto bg-white px-6 py-6 hidden">
                <div class="flex h-9 items-center justify-between">
                  <div class="flex">
                    <a href="/" class="-m-1.5 p-1.5">
                      <span class="sr-only">Your Company</span>
                      <img class="h-8" src="{{ url_for('static', filename='Vector.svg') }}" alt="">
                    </a>
                  </div>
                  <div class="flex">
                    <button type="button" id="close-mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                      <span class="sr-only">Close menu</span>
                      <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="mt-6 flow-root">
                  <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                      <a href="/" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Home</a>
                        
                      <a href="/about" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">About</a>
                      
                      {% if session %}
                      <a href="/profile" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10">Profile</a>
                      {% else %}
                      <p class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 line-through">Profile</p>
                      {% endif %}

                      <p onclick="toggleSearchSection()" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10 hover:cursor-pointer">Search</p>
    
                    </div>
                    <div class="py-6">
                      {% if session %}
                      <a href="/logout" class="-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-6 text-gray-900 hover:bg-gray-400/10">Log out</a>
                      {% else %}
                      <a href="/login" class="-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-6 text-gray-900 hover:bg-gray-400/10">Log in</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        
        {% block main_header_content %}
        {% endblock %}
    </header>


    <!-- search -->
    <div id="search-section" class="relative z-30" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
      <div id="slideover-bg" onclick="toggleSearchSection()" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity opacity-0 invisible"></div>
    
      <div class="">
        <div class="absolute inset-0 overflow-hidden">
          <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">

            <div id="slideover" class="pointer-events-auto w-screen max-w-md translate-x-full transform transition ease-in-out duration-500 sm:duration-700">
              <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
                <div class="flex-1 overflow-y-auto py-6 px-4 sm:px-6">
                  <div class="flex items-start justify-between">
                    <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Look for your Anime</h2>
                    <div class="ml-3 flex h-7 items-center">
                      <button type="button" onclick="toggleSearchSection()" class="-m-2 p-2 text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Close panel</span>
                        <!-- Heroicon name: outline/x-mark -->
                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                      </button>
                    </div>
                  </div>
  
                  <div class="mt-8">
                    <label for="search" class="sr-only">Search</label>
                    <input id="search" name="anime" type="text" autocomplete="off" class="relative block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="anime title">
                  </div>
    
                  <div class="mt-8">
                    <div class="flow-root">
                      <ul id="search-result" role="list" class="-my-6 divide-y divide-gray-200">
                        
                        <!-- Search for anime... -->
    
                      </ul>
                    </div>
                  </div>
                </div>
    
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
    {% block body %}
    {% endblock %}
    
    <footer>

        <div class="text-sm text-gray-600 mx-auto max-w-2xl pb-8 px-4 sm:pb-16 sm:px-6 lg:max-w-7xl lg:px-8 lg:text-center">
            <p>© Anime review by 
                <span class="font-semibold">
                    <a href="https://github.com/Mami-Em">Mami</a>
                </span>
            </p>
        </div>
    
    </footer>

    {% block script %}
    {% endblock %}

    <script>
      document.addEventListener("DOMContentLoaded", () => {
  
        // search
        const input = document.querySelector("#search");
        input.addEventListener("input", async function() {
          let response = await fetch('/search?q=' + input.value);
          let shows = await response.text();
          document.querySelector("#search-result").innerHTML = shows;
        });
      })
    </script>

    <script>
      // search toggle
      function toggleSearchSection() {
        document.getElementById("slideover-bg").classList.toggle("invisible");
        document.getElementById('slideover-bg').classList.toggle('opacity-0');
        document.getElementById('slideover-bg').classList.toggle('opacity-50');
        document.getElementById('slideover').classList.toggle('translate-x-full');
        document.getElementById('slideover').classList.toggle('translate-x-0');
      }
      document.addEventListener("DOMContentLoaded", () => {
          // open mobile menu
          document.querySelector("#open-mobile-menu").addEventListener("click", () => {
            document.querySelector("#menu-hs").classList.remove("hidden");
          });
  
          // close modile menu
          document.querySelector("#close-mobile-menu").addEventListener("click", () => {
            document.querySelector("#menu-hs").classList.add("hidden");
          });
      });
    </script>

</body>
</html>