{% with messages = get_flashed_messages(with_categories=true) %}

<div class="backdrop-contrast-75 w-screen h-screen fixed z-50">
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'success' %}
        <ul id="messages" class="flashes success p-2 bg-green-100 text-green-700 shadow-md max-w-lg mx-auto lg:rounded-b-lg md:left-1/2 md:-translate-x-1/2 fixed -top-16 w-full">
            <li class="p-2 flex justify-between items-center">
                <div class="flex items-center gap-2">
                    <span class="material-symbols-outlined">
                      done
                    </span>
                    <p class="text-sm font-semibold">{{ message }}</p>
                </div>
    
                <button onclick="closeMessages()">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>  
                </button>
            </li>
        </ul>
        {% else %}
        <ul id="messages" class="flashes p-2 bg-red-100 text-red-700 shadow-md max-w-lg mx-auto lg:rounded-b-lg md:left-1/2 md:-translate-x-1/2 fixed -top-16 w-full">
            <li class="p-2 flex justify-between items-center ">
              <div class="flex items-center gap-2">
                <span class="material-symbols-outlined">
                  warning
                </span>
                <p class="text-sm font-semibold">{{ message }}</p>
              </div>
    
              <button onclick="closeMessages()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>  
              </button>
              
            </li>
        </ul> 
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
{% endwith %}