/* slide menu in */
.show-menu {
  animation-name: square;
  animation-duration: .1s;
}

@keyframes square {
  from {
    left: -300px;
    top: 0px;
  } 
  to {
    left: 0px;
    top: 0px;
  }
}

/* slide menu out */
.hide-menu {
  animation-name: hide;
  animation-duration: .3s;
}

@keyframes hide {
  from {
    left: 0px;
    top: 0px;
  } 
  to {
    left: -300px;
    top: 0px;
  }
}

