.show-menu {
  position: relative;
  /* left: -400px; */
  animation-name: show 1s;
}

@keyframes show {
  from {
    left: -400px;
    top: 0px;
  } 
  to {
    left: 0px;
    top: 0px;
  }
}


.close-menu {
  animation: hide .3s;
}


@keyframes hide {
  from {
    left: 0px;
    top: 0px;
  } 
  to {
    left: -400px;
    top: 0px;
  }
}