/* slide menu in */
.show-menu {
  animation-name: square;
  animation-duration: .2s;
}

@keyframes square {
  from {
    left: -300px;
  } 
  to {
    left: 0px;
  }
}

/* slide menu out */
.hide-menu {
  animation-name: hide;
  animation-duration: .3s;
}

@keyframes hide {
  from {
    left: 0px;
  } 
  to {
    left: -300px;
  }
}


/* show search bar */
.show-sb {
  animation-name: show;
  animation-duration: .1s;
}

@keyframes show {
  from {
    top: -60px;
  }
  to {
    top: 0px;
  }
}


/* hide search bar */
.slide-sb {
  animation-name: slide;
  animation-duration: .3s;
}


@keyframes slide {
  from {
    top: 0px;
  }
  to {
    top: -60px;
  }
}


/* reiew section */
.show-review-section {
  animation: showreview .1s;
}

@keyframes showreview {
  from {
    bottom: -50rem;
  }
  to {
    bottom: 8rem;
  }
}

.hide-review-section {
  animation: hidereview .3s;
}

@keyframes hidereview {
  from {
    bottom: 8rem;
  }
  to {
    bottom: -50rem;
  }
}